language: python
python:
  - "3.7"

service:
  - mysql

before_install:
  - mysql -e 'CREATE DATABASE jurassic_park;'
  - mysql -e "CREATE USER 'dinouser'@'localhost' identified by 'dino123@';"
  - mysql -e "GRANT ALL PRIVILEGES ON jurassic_park.* TO 'dinouser'@'localhost';"
  - mysql -e "GRANT ALL PRIVILEGES ON test_jurassic_park.* TO 'dinouser'@'localhost';"
  - mysql -e "FLUSH PRIVILEGES;"

install:
  - sudo apt-get update
  - sudo apt-get install -y build-essential python3-dev python3-setuptools python3-wheel python3-cffi libcairo2 libpango-1.0-0 libpangocairo-1.0-0 libgdk-pixbuf2.0-0 libffi-dev shared-mime-info

before_script: 
  - pip install -r requirements.txt

script: 
  - python manage.py test dinosaurios
  - coverage run --branch --source='.' --omit=*test*,*migrations*,*__init*,*settings*,*apps*,*wsgi*,*admin.py,*asgi.py,manage.py,*urls.py manage.py test
  - coverage report -m --fail-under 90
notifications:
email: false